<%- include('./partials/head'); %>

<!-- -----------------------   head  -------------------f-- -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!-- -----------------------   FOOTER  --------------------i- -->
        <footer>
              <%- include('./partials/footer'); %>
        </footer>
<!-- -----------------------   FOOTER  -------------------f-- -->