<!DOCTYPE html>
<html lang="es">

<head>
          <%- include('./partials/head'); %>
        
        <title>HitGames | Detalle</title>            

</head>

<body>
 
<!-- -----------------------HEADER MENU--------------------------- -->
   
      <%- include('./partials/header'); %>

<!--------------------------------------------------- -->
    
    <div id="contenedor">
        <div id="contenedorcentrado">
            <h1>Listado de productos</h1>
              <ul>
                  <% data.forEach(function(element) { %>
                      <li><%= element.id %> - <%= element.name %> - <%= element.description %> - <%= element.price %></li>
                  <% }); %>
              </ul>
       </div>
    </div>

<!-- -----------------------   FOOTER  --------------------i- -->
        <footer>
              <%- include('./partials/footer'); %>
        </footer>
<!-- -----------------------   FOOTER  -------------------f-- -->

    <!-- Animaciones : AOS-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- Mi Script -->
    <script src="javascripts/app.js"></script>

    <script>  
        AOS.init({
            duration: 1200,
        })
    </script>

  </body>
</html>